[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/lv2-porting-project/JUCE.git
[submodule "modules/foleys_gui_magic"]
	path = modules/foleys_gui_magic
	url = https://github.com/Chowdhury-DSP/foleys_gui_magic.git
[submodule "modules/chowdsp_utils"]
	path = modules/chowdsp_utils
	url = https://github.com/Chowdhury-DSP/chowdsp_utils.git
[submodule "modules/Gin"]
	path = modules/Gin
	url = https://github.com/FigBug/Gin.git
[submodule "modules/animator"]
	path = modules/animator
	url = https://github.com/bgporter/animator.git
[submodule "modules/drowaudio"]
	path = modules/drowaudio
	url = https://github.com/FigBug/drowaudio.git
